<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="put" th:action="@{/admin/edit}" th:object="${user}">
    <label>
        <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden"/>
    </label>
    <label for="firstName">Enter firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/><br/>
    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/><br/>
    <label for="country">Enter country: </label>
    <input type="text" th:field="*{country}" id="country"/>
    <br/><br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/><br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.role}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/><br/>
    <input type="submit" value="Update"/>
    <br/> <br/>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>
</form>

</body>
</html>