<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="post" th:action="@{/admin/gen}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name" required/>
    <br/>
    <label for="lastName">Enter Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName" required/>
    <br/>
    <label for="country">Enter country</label>
    <input type="text" th:field="*{country}" id="country" required/>
    <br/>
    <label for="password">Enter Password</label>
    <input type="text" th:field="*{password}" id="password" required/>
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.role}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/>
    <input type="submit" value="add"/>
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>
</body>
</html>